.hot{
	height: 1300px;
	/*border: 1px solid red;*/
}
.hot .hot_wrap{
	width: 1200px;
	height: 1300px;
	margin: 0 auto;
	/*background-color: green;*/
}
.hot .hot_wrap ul{
	/*height: 1232px;*/
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.hot .hot_wrap ul li{
	width: 291px;
	height: 400px;
	/*background-color: cadetblue;*/
	/*float: left;*/
	margin: 0 8px 10px 0;
	position: relative;
}
.hot .hot_wrap ul li:hover{
	border: 1px solid red;
}

.hot .hot_wrap ul li .img{
	width: 291px;
	height: 291px;
	
}
.hot .hot_wrap ul li .img a{
	
}
.hot .hot_wrap ul li .img a img{
	width: 291px;
	height: 291px;
	
}
.hot .hot_wrap ul li .img a .favor{
	display: none;
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 99;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /*overflow: hidden;*/
    /*background-size: cover;
    background-position: 50%;*/
}
.hot .hot_wrap ul li:hover .favor {
	display: block;
}
.hot .hot_wrap ul li .text{
	position: relative;
    width: 100%;
    height: 109px;
}
.hot .hot_wrap ul li .text .desc{
	padding: 14px 0 11px;
    font-size: 14px;
    color: #b5b5b5;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 20px;
}
.hot .hot_wrap ul li .text .name{
	margin-left: 20px;
    color: #635859;
}
.hot .hot_wrap ul li .text .name .cn{
	padding-top: 10px;
    font-size: 14px;
    line-height: 30px;
}
.hot .hot_wrap ul li .text .name .en{
	font-size: 10px;
    line-height: 30px;
}
.hot .hot_wrap ul li .text .attr{
	padding-top: 5px;
    color: #e9546b;
    margin-left: 20px;
}
.hot .hot_wrap ul li .text .addCart{
	display: block;
    position: absolute;
    right: 20px;
    bottom: 15px;
    width: 28px;
    height: 28px;
    /*border-radius: 50%;*/
    background-repeat: no-repeat;
    background-size: cover;
    /*background-position: 50%;*/
   	background-image: url(../img/icon_join_basket_rect.png);
}
