.show{
	height: 745px;
}
.show .show_wrap{
	width: 1200px;
	height: 500px;
	background-color: pink;
	margin-top: 40px;
	margin-left: 33px;
}
.show .show_wrap .mirror{width: 500px;height: 500px;position: relative;float: left;}
.show .show_wrap .mirror .zoom{width: 200px;height: 200px;background-color:#fff;opacity:0.5;position: absolute;top: 0;left: 0;display: none;}
.show .show_wrap .bigimg{border:1px solid black;width: 400px;height: 400px;position: absolute;overflow: hidden;left: 550px;top:140px;display: none;}
.show .show_wrap .bigimg img{position: absolute;top: 0;left: 0;}
.xiangqing{
	width: 580px;
	height: 528px;
	float: right;
	background-color: green;
}
