*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none;}
header{
	height: 100px;
	width: 100%;
	background-color: #e9546b;
}
header .header_wrap{
	width:1180px;
	height:100px;
	/*background-color:green;*/
	margin: 0 auto;
	position: relative;
	/*overflow: hidden;*/
}
header .header_wrap .logo{
	width: 171px;
	height:54px;
	margin-top: 30px;
	float: left;
}
header .header_wrap .logo a{
	width: 171px;
	height:54px ;
	display: block;
	
	background-image: url(../img/logo.gif);
}
header .header_wrap .nav{
	width: 552px;
	height: 28px;
	margin-top: 55px;
	margin-left: 50px;
	float: left;
}
header .header_wrap .nav .nav_ul{
	width: 552px;
	height: 28px;
/*	float: left;*/
	/*background-color: pink;*/
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
}
header .header_wrap .nav .nav_ul .nav_ul_li{
	/*float: left;*/
	font-size: 16px;
	line-height: 28px;
	height: 28px;
	/*padding: 0 5px;*/
	width: 82px;
	position: relative;
}
header .header_wrap .nav .nav_ul .nav_ul_li .nav_ul_li_a{
	width: 82px;
	height: 28px;
	display: block;
	text-align: center;
	color: #fff;
}
header .header_wrap .nav .nav_ul .nav_ul_li a:hover{
	border: 1px solid #fff;
}
header .header_wrap .nav .nav_ul .new{
	position: relative;
}
header .header_wrap .nav .nav_ul .new img{
	position: absolute;
	right: 0;
	top: -5px;
}
header .header_wrap .nav .nav_ul .cake ul{
	width: 120px;
	/*height: 120px;*/
	position: absolute;
	/*background-color: blueviolet;*/
	display: none;
	border: 1px solid #e9546b;
	z-index: 1;
	background-color: white;
}

header .header_wrap .nav .nav_ul .cake ul li{
	border-bottom: 1px solid #ccc;
	text-align: center;
	line-height: 40px;
}
header .header_wrap .nav .nav_ul .cake ul li:hover{
	background-color:#e9546b ;
}
header .header_wrap .nav .nav_ul .cake ul a{
	color: black;
	text-align: center;
	width: 120px;
	display: inline-block;
	
}
header .header_wrap .nav .nav_ul .inlife ul{
	width: 120px;
	/*height: 120px;*/
	position: absolute;
	/*background-color: blueviolet;*/
	display: none;
	border: 1px solid #e9546b;
	z-index: 1;
	background-color: white;
}
header .header_wrap .nav .nav_ul .inlife ul li{
	border-bottom: 1px solid #ccc;
	text-align: center;
	line-height: 40px;
}
header .header_wrap .nav .nav_ul .inlife ul li:hover{
	background-color:#e9546b ;
}
header .header_wrap .nav .nav_ul .inlife ul a{
	color: black;
	text-align: center;
	width: 120px;
	display: inline-block;
}
header .header_wrap .nav .nav_ul .qiye ul{
	width: 120px;
	height: 120px;
	position: absolute;
	/*background-color: blueviolet;*/
	display: none;
	border: 1px solid #e9546b;
	z-index: 1;
	background-color: white;
}
header .header_wrap .nav .nav_ul .qiye ul li{
	border-bottom: 1px solid #ccc;
	text-align: center;
	line-height: 40px;
}
header .header_wrap .nav .nav_ul .qiye ul li:hover{
	background-color:#e9546b ;
}
header .header_wrap .nav .nav_ul .qiye ul a{
	color: black;
	text-align: center;
	width: 120px;
	display: inline-block;
}
header .header_wrap .nav .nav_ul .cake:hover ul{
	display: block;
}
header .header_wrap .nav .nav_ul .inlife:hover ul{
	display: block;
}
header .header_wrap .nav .nav_ul .qiye:hover ul{
	display: block;
}
header .header_wrap .auth{
	float: right;
	width: 110px;
	height: 16px;
	line-height: 16px;
	
}
header .header_wrap .auth .login{
	width: 46px;
	height:16px;
	text-align: left;
	/*line-height: ;*/
	display: inline-block;
	color: white;
	margin-top: 8px;
	
}
header .header_wrap .auth .register{
	width: 46px;
	height:16px;
	text-align:right;
	display: inline-block;
	color: white;
}
header .header_wrap .auth span{
	color: white;
	display: inline-block;
}
header .header_wrap .basket{
	width: 190px;
	height: 22px;
	float: right;
	/*background-color: blueviolet;*/
	position: absolute;
	right: 0;
	bottom: 22px;
	
}
header .header_wrap .basket .basket_left{
	width: 90px;
	height: 22px;
	border-left: 1px solid white;
	border-right: 1px solid white;
	float: left;
	color: white;
	text-align: center;
	position: relative;
}
header .header_wrap .basket .basket_left .cart{
	width: 25px;
	height: 20px;
	color: white;
	display: inline-block;
	background: url(../img/icon_basket_header.png) no-repeat;
	/*background-size: cover;*/
	/*background-position: 50%;*/
}
header .header_wrap .basket .basket_left .cart_span{
	position: absolute;
	left: 48px;
	top: -11px;
	border: 1px solid white;
	border-radius: 50%;
	width: 16px;
	height: 16px;
	line-height: 16px;
	font-size: 12px;
	text-align: center;
	color: #e9546b;
    background-color: #fff;
}
header .header_wrap .basket .basket_right{
	width: 97px;
	height: 22px;
	float: right;
	color: white;
	border-right: 1px solid white;
	text-align: center;
}
header .header_wrap .basket .basket_right .city{
	color: white;
	display: inline-block;
}
.main{
	height: 822px;
	/*background-color: green;*/
	overflow: hidden;
	border-bottom: 4px solid #eaeaea;
	
}
.main .main_wrap{
	width: 942px;
	height: 620px;
	/*border: 1px solid red;*/
	/*margin-left: 162px;
	margin-top: 100px;*/
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 auto;
	/*align-items: center;*/
}
.main .main_wrap .tehuishangcheng{
	width: 502px;
	height: 295px;
	display: block;
	
}
.main .main_wrap .tehuishangcheng:hover{
	box-shadow: 0 0 10px 5px pink;
}
.main .main_wrap .inbox{
	width: 411px;
	height: 295px;
	display: block;
}
.main .main_wrap .inbox:hover{
	box-shadow: 0 0 10px 5px pink;
}
.main .main_wrap .caomeiji{
	width: 296px;
	height: 295px;
	display: block;
}
.main .main_wrap .caomeiji:hover{
	box-shadow: 0 0 10px 5px pink;
}
.main .main_wrap .kajuanduihuan{
	width: 296px;
	height: 295px;
	display: block;
}
.main .main_wrap .kajuanduihuan:hover{
	box-shadow: 0 0 10px 5px pink;
}
.main .main_wrap .renqipaihang{
	width: 296px;
	height: 295px;
	display: block;
}
.main .main_wrap .renqipaihang:hover{
	box-shadow: 0 0 10px 5px pink;
}
.main .main_wrap .asf{
	align-self: flex-end;
}
.remai{
	height: 357px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.remai .remai_wrap{
	width: 270px;
	height: 172px;
	background-image: url(../img/dangjiremai.jpg);
}
.ads{
	height: 310px;
}
.ads .ads_wrap{
	width: 1200px;
	height: 310px;
	margin: 0 auto;
	/*background-color: green;*/
}
.ads .ads_wrap a{
	width: 398px;
	height: 248px;
	border: 1px solid #f0f0f0;
	display: block;
	overflow: hidden;
	float: left;
}
.ads .ads_wrap a:hover{
	box-shadow: 0 0 10px 1px pink;
}
}
.footer{
	height: 250px;
	background-color: #f5f5f5;
}
.footer .footer_wrap{
	width: 1200px;
	height: 250px;
	margin: 0 auto;
	/*border: 1px solid red;*/
	position: relative;
}
.footer .footer_wrap .footer_logo{
	width: 221px;
	height: 70px;
	background:url(../img/footer_logo.gif) no-repeat;
	position: absolute;
	left: 41px;
	top: 90px;
}
.footer .footer_wrap .footer_content{
	width: 440px;
	height: 250px;
	margin: 0 auto;
	/*border: 1px solid green;*/
}
.footer .footer_wrap .footer_content .footer_link{
	width: 100%;
    padding-top: 60px;
}
.footer .footer_wrap .footer_content .footer_link a{
	display: inline-block;
    float: left;
    line-height: 20px;
    font-size: 16px;
    color: #635859;

}
.footer .footer_wrap .footer_content .footer_link span{
	display: inline-block;
    float: left;
    line-height: 20px;
    font-size: 16px;
    color: #635859;
}
.footer .footer_wrap .footer_content .hotline{
	margin-top: 30px;
	font-size: 16px;
	color: #e9546b;
}
.footer .footer_wrap .footer_content .hotline .tel{
	display: inline-block;
    /*float: left;*/
    color: #e9546b;
    line-height: 24px;
    font-size: 24px;
    font-weight: 700;
    margin-left: 10px;
}
.footer .footer_wrap  .code{
	width: 140px;
	height: 178px;
	background: url(../img/code.gif) no-repeat;
	position: absolute;
	top: 42px;
	right: 49px;
}
.footer .footer_wrap  .code p{
	text-align: center;
	position: absolute;
	top: 150px;
	left: 16px;
}
.links{
	height: 70px;
}
.links p{
	text-align: center;
	color: #b4b4b4;
	line-height: 46px;
}
#fix{
	position: fixed;
    z-index: 99999;
    width: 300px;
    height: 460px;
    right: 60px;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,.6);
    border-radius: 20px;
}
#fix img{
	display: block;
    margin: 20px auto 0;
    width: 240px;
    height: 424px;
}
#fix a{
	position: absolute;
    display: block;
    left: 10px;
    top: 10px;
    width: 27px;
    height: 27px;
    background: url(../img/qrcode-close.png) no-repeat;
    background-size: 27px 27px;
}
