.register_main{
	height: 760px;
	/*background-color: green;*/
	overflow: hidden;
}
.register_main .register_wrap{
	width: 1200px;
	/*height: 520px;*/
 	
    margin: 0 auto;
    margin-top: 80px;
    /*background-color: pink;*/
}
.register_main .register_wrap .register_wrap_left{
	width: 650px;
	height: 520px;
	float: left;
	border-right: 1px solid #c8c8c8;
	background-image:url(../img/login_left.jpg);
}
.register_main .register_wrap form{
	width: 392px;
	/*height: 386px;*/
	float: left;
	/*border: 1px solid red;*/
	margin: 54px 0 0 98px;
	
}
.register_main .register_wrap form .form_head{
	font-size: 40px;
    line-height: 32px;
    color: #d6dce2;
    text-align: center;
}
.register_main .register_wrap form div input{
	width: 390px;
    height: 50px;
    background-color: #fafafa;
    border: 1px solid #929eab;
    border-radius: 4px;
    margin-top: 10px;
    font-size: 18px;
    line-height: 50px;
    color: #505050;
    text-indent: 1em;
    outline: none;
}
.register_main .register_wrap form div span{
	text-align: center;
	display: block;
	display: none;
	color: red;
	/*opacity: 0;*/
}
/*.register_main .register_wrap form .pwd{
	width: 390px;
    height: 50px;
    background-color: #fafafa;
    border: 1px solid #929eab;
    border-radius: 4px;
    margin-top: 18px;
    font-size: 18px;
    line-height: 50px;
    color: #505050;
    text-indent: 1em;
    outline: none;
 
}*/

/*.register_main .register_wrap form .forget a{
    float: right;
    margin-right: 10px;
    text-align: right;
    line-height: 40px;
    display: block;
    color: #1478be;
}*/
/*.register_main .register_wrap form .forget a:hover{
	text-decoration: underline;
}*/
.register_main .register_wrap form button{
	width: 390px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #45515e;
    border-radius: 4px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 20px;
    line-height: 52px;
    color: #fff;
    background-color: #45515f;
    text-align: center;
}
.register_main .register_wrap form .vip p{
	color: #505050;
	display: inline-block;
	
}
.register_main .register_wrap form .vip a{
	color: #1478be;
	
}
.register_main .register_wrap form .vip a:hover{
	text-decoration: underline;
}